*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
/androidApp/google-services.json

# iOS
iosApp/Pods/
iosApp/*.xcworkspace
iosApp/build/
*.xcuserdata

# KMP
**/build/
/androidApp/build/
.kotlin/
